[development]
session_secret
host=
port=
db_name=
db_user=
db_password=
db_host=
db_port=
jwt_secret=
jwt_expires_in=
jwt_refresh_expires_in=
jwt_algorithm=

[test]
session_secret=
host=
port=
db_name=
db_user=
db_password=
db_host=
db_port=
jwt_secret=
jwt_expires_in=
jwt_refresh_expires_in=
jwt_algorithm=
